body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f6f9;
}

.container {
    display: flex;
    height: 100vh;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

 h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #2d3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"] {
    padding: 9px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#errorMsg {
    color: red;
}